<div class="container">

    <nav aria-label="breadcrumb" class="w-100 pt-3 px-4 mb-4 bg-light border rounded fw-bold">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/home">Главная</a>
            </li>
            <li class="breadcrumb-item">
                По юридическим лицам и индивидуальным предпринимателям
            </li>
        </ol>
    </nav>

    <div class="row">        
        <div class="col-3">
            <form (ngSubmit)="onSubmit()">               
                <div class="card">
                    <div class="card-header text-center">
                        <h4>Месяц отчета</h4>
                    </div>
                    <div class="card-body">
                        <input type="month" class="form-control" name="month" [(ngModel)]="monthInput" [disabled]="isRunning" />
                    </div>

                    <div class="card-header border-top text-center">
                        <h4>Список c ИНН ЮЛ/ИП</h4>
                        <span class="text-secondary">(каждый ИНН должен быть с новой строки)</span>
                    </div>
                    <div class="card-body">
                        <textarea id="inn" class="form-control" name="inn" rows="15" [(ngModel)]="innTextarea" [disabled]="isRunning"></textarea>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit" [disabled]="isRunning">
                                <span class="spinner-border spinner-border-sm" *ngIf="isRunning"></span>
                                Запуск
                            </button>                        
                            <button (click)="cancel()" *ngIf="isRunning" class="btn btn-danger">Остановить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col">
            <button *ngIf="!isRunning && taxPayerUlDataList.length > 0" [disabled]="isExporting" (click)="exportToExcel()" class="btn btn-primary mb-2">
                <span class="spinner-border spinner-border-sm" *ngIf="isExporting"></span>
                Выгрузить в Excel
            </button>

            <div class="progress w-100 mb-2" style="height: .5rem;" *ngIf="isRunning">
                <div class="progress-bar progress-bar-animated" [style.width]="((taxPayerUlDataList.length / listInn.length) * 100) + '%'"></div>
            </div>
                        
            <table class="table table-bordered table-stripped">
                <thead>
                    <tr>
                        <th>ИНН</th>
                        <th>Статус</th>
                        <th>Описание</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let payer of taxPayerUlDataList">
                        <td>{{ payer.inn }}</td>
                        <td>
                            <span class="badge bg-warning fs-6" *ngIf="payer.isRun">
                                <span class="spinner-border spinner-border-sm"></span>
                                Выполняется
                            </span>
                            <span class="badge bg-success fs-6" *ngIf="!payer.isRun">
                                Завершено
                            </span>
                        </td>
                        <td>
                            <div *ngIf="payer.isRun" class="mb-2">
                                <kbd>{{ payer.currentState }}</kbd>
                            </div>
                            <ul class="list-unstyled">
                                <li *ngIf="payer.basicList.length > 0">Записей с вкладки "Основные показатели": <b>{{ payer.basicList.length }}</b></li>
                                <li *ngIf="payer.smzList.length > 0">Записей с вкладки "Реестр самозанятых": <b>{{ payer.smzList.length }}</b></li>
                            </ul>
                            <p *ngIf="!payer.detail">Налогоплательщик не найден!</p>
                        </td>
                        <td>
                            <button *ngIf="!payer.isRun" class="btn btn-success btn-sm" (click)="exportOneToExcel(payer)">
                                <fa-icon [icon]="['fas', 'file-excel']"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>