<div class="container">

    <nav aria-label="breadcrumb" class="w-100 pt-3 px-4 mb-4 bg-light border rounded fw-bold">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a routerLink="/home">Главная</a>
            </li>
            <li class="breadcrumb-item">
                По самозанятым
            </li>
        </ol>
    </nav>

    <div class="row">
        
        <div class="col-3">
            <form (ngSubmit)="onSubmit()">
                <div class="card">
                    <div class="card-header">
                        <h4>Список ИНН</h4>
                        <span class="text-secondary">(каждый ИНН должен быть с новой строки)</span>
                    </div>
                    <div class="card-body">
                        <textarea id="inn" class="form-control" name="inn" rows="15" [(ngModel)]="innTextarea"></textarea>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group">
                            <button class="btn btn-success" type="submit" [disabled]="isRunning">
                                <span class="spinner-border spinner-border-sm" *ngIf="isRunning"></span>
                                Запуск
                            </button>                        
                            <button (click)="cancel()" *ngIf="isRunning" class="btn btn-danger">Остановить</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="col">
            <button *ngIf="!isRunning && flData.length > 0" [disabled]="isExporting" (click)="exportToExcel()" class="btn btn-primary mb-2">
                <span class="spinner-border spinner-border-sm" *ngIf="isExporting"></span>
                Выгрузить в Excel
            </button>
            
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ИНН</th>
                        <th>ФИО</th>                        
                        <th></th>
                    </tr>
                </thead>
                <tbody>                    
                    <tr *ngFor="let fl of flData">
                        <td>{{ fl.inn }}</td>                        
                        <td>{{ fl.result }}</td>
                        <td>
                            <span class="spinner-border spinner-border-sm" *ngIf="fl.isRun"></span>
                            <div *ngIf="!fl.isRun && fl.data != null">                                
                                <div>
                                    Найдено чеков НП: {{ fl.data?.receipts && fl.data?.receipts.length > 0 ? fl.data?.receipts.length : 'отсутствуют' }}
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>