<div class="container" *ngIf="profile; else loggedOut">
    
    <header class="jumbotron">
        <h3>Профиль: {{ profile?.cn }}</h3>
    </header>  

    <table class="table table-bordered table-striped-columns mt-4">
        <tbody>
            <tr>
                <th>Учетная запись</th>
                <td>{{ profile?.cn }}</td>
            </tr>
            <tr>
                <th>ФИО</th>
                <td>{{ profile?.displayName }}</td>
            </tr>
            <tr>
                <th>Режим</th>
                <td>{{ profile?.mode }}</td>
            </tr>
            <tr>
                <th>Разрешения</th>
                <td>
                    {{ permissions }}
                </td>
            </tr>
        </tbody>
    </table>
    
</div>

<ng-template #loggedOut>
    Выполните вход
</ng-template>