<div class="container">    
    <div class="row row-cols-3 justify-content-center g-4">

        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="/assets/ip.jpg" class="card-img-top" />
                <div class="card-footer pb-2 text-center">
                    <a routerLink="/fl" class="btn btn-primary fw-bold">                        
                        По самозанятым                        
                    </a>         
                </div>
            </div>                
        </div>

        <div class="col">
            <div class="card shadow-sm h-100">
                <img src="/assets/ul.jpg" class="card-img-top" />               
                <div class="card-footer pb-2 text-center">
                    <a routerLink="/ul" class="btn btn-primary fw-bold">                        
                        По ЮЛ (ИП)         
                    </a>         
                </div>
            </div>                
        </div>

    </div>
</div>